<ion-header>
  <ion-toolbar>
    <app-custom-header></app-custom-header>
  </ion-toolbar>
</ion-header>
<ion-content>
  <body id="main">
    <div id="pagina-cadastro" class="container">
      <div class="form-cadastro">
        <h1 class="titulo">Cadastrar</h1>
        <h2 class="subtitulo">
          Cadastre-se para poder salvar seus lanches e conferir depois!
        </h2>
        <form id="cadastro-usuario" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="caixa-preenchimento">
            <label for="nome-usuario">Nome</label>
            <input
              id="nome-usuario"
              class="controle-form"
              type="text"
              value=""
              name="usuario[nome]"
              placeholder="Nome"
              required
              formControlName="name"
            />
          </div>
          <span *ngIf="signupForm.get('name')?.dirty && signupForm.get('name')?.errors?.['required']" class="error">Nome é obrigatório</span>
          <div class="caixa-preenchimento">
            <label for="sobrenome-usuario">Sobrenome</label>
            <input
              id="sobrenome-usuario"
              class="controle-form"
              type="text"
              value=""
              name="usuario[sobrneome]"
              placeholder="Sobrenome"
              required
              formControlName="surname"
            />
          </div>
          <span *ngIf="signupForm.get('surname')?.dirty && signupForm.get('surname')?.errors?.['required']" class="error">Sobrenome é obrigatório</span>
          <div class="caixa-preenchimento">
            <label for="email-usuario">Email</label>
            <input
              id="email-usuario"
              class="controle-form"
              type="email"
              value=""
              name="usuario[email]"
              placeholder="Email"
              required
              formControlName="email"
            />
          </div>
          <span *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors?.['required']" class="error">Email é obrigatório</span><br>
          <span *ngIf="signupForm.get('email')?.dirty && signupForm.get('email')?.errors?.['email']" class="error">Formato de email inválido</span>
          <div class="caixa-preenchimento">
            <label for="senha-usuario">Senha</label>
            <input
              id="senha-usuario"
              class="controle-form"
              type="password"
              value=""
              name="senha[usuario]"
              placeholder="Senha"
              required
              formControlName="password"
            />
          </div>
          <span *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['required']" class="error">Senha é obrigatório</span><br>
          <span *ngIf="signupForm.get('password')?.dirty && signupForm.get('password')?.errors?.['minlength']" class="error">Senha precisa de no mínimo 6 caracteres</span>
          <input
            class="btn btn-success btn-block"
            type="submit"
            value="cadastrar"
          />
        </form>
      </div>
    </div>
  </body>
  <app-custom-footer></app-custom-footer>
</ion-content>
